/*Estrutura do documento */
body{
margin: 0;
padding: 0;
background-color: black;
height: 100%;
width: 100%;
}
/*---------------------------------------------------*/

/*Responsavel por todo o corpo  do documeno*/
.principal{
width: 100%;
}
/*---------------------------------------------------*/


/*Cabeçalho*/
.header-area{
width: 100%;
}
/*---------------------------------------------------*/


/*Imagem do cabeçalho*/
.capa{
width: 100%;
}
/*---------------------------------------------------*/


/*Estilização do menu*/
.menu-area{
font-size: 4em;
font-family: Bebas Neue;
text-align: center;
color: rgb(255, 255, 255);
background-color: rgb(122, 5, 5);
width: 100%;
line-height: 1.8;
}
/*---------------------------------------------------*/

/*estilização de link padrão*/    
a{
color: white;
text-decoration: none;
}
/*---------------------------------------------------*/


/*Animação apos passar o mouse em um link*/
a:hover{
color: rgb(255, 0, 0);
text-decoration: none;
}
/*---------------------------------------------------*/


/*Animação ao passar o mouse em uma opção do menu*/
.menu:hover{
color: rgb(255, 0, 0);
text-decoration: none;
border-radius: 8px;
background-color: black;
padding: 8px ;
cursor: pointer;
transition: .8s;
}
/*---------------------------------------------------*/


/*Estilização do titulo*/
.title{
font-size: 4em;
font-family: Russo One;
color: red;
padding-top: 50px;
display: inline-block;
}
/*---------------------------------------------------*/


/*Estilização do subtitulo*/
.subtitle{
font-size: 3.5em;
font-family: Russo One;
color: red;
display: inline-block;
text-decoration: underline;
}
/*---------------------------------------------------*/

    
/*Estilização do texto*/
.text{
font-size: 2em;
font-family: Play;
color: white;
}
/*---------------------------------------------------*/


/*Estlização de subititulos menores*/
.color-text-red{
color: red;
}
/*---------------------------------------------------*/


/*Estlização do texto da ficha tecnica do notebook*/
.text-requeriments{
font-size: 2em;
font-family: Play;
color: white;
position: relative;
bottom: 30px;
}
/*---------------------------------------------------*/


/*Estlização da borda da ficha tecnica do notebook*/
.border-requeriments{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
padding-left: 6px;
}

.border-requeriments-1{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 80px;
padding-left: 6px;
}

.border-requeriments-2{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 40px;
padding-left: 6px;
}

.border-requeriments-3{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 260px;
padding-left: 6px;
}

.border-requeriments-4{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 75px;
padding-left: 6px;
}

.border-requeriments-5{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 75px;
padding-left: 6px;
}



.border-requeriments-6{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 112px;
padding-left: 6px;
}

.border-requeriments-7{
border: 2px solid rgb(255, 255, 255);
margin: 20px;
height: 150px;
padding-left: 6px;
}
/*---------------------------------------------------*/


/*Slide de iagens*/

/*Configurações gerais do slider de imagens*/
.content{
width: 100%;
position: absolute;
top: 950px;
text-align: center;
display: inline;
overflow: hidden;
}
/*-----------------------------------------------------------*/


/*Configurações da barra de navegação*/
.navegação{
position: absolute;
top: 1500px;
left: 950px;
transform: translate(-50%);
display: flex;
}
/*-----------------------------------------------------------*/


/*Esconde  a barra de input*/
input{
display: none;
}
/*-----------------------------------------------------------*/


/*Estilização das miniaturas da barra de navegação*/
.miniatura{
width: 150px;
height: 150px;
border: 2px solid white;
margin: 6px;
border-radius: 5px;
cursor: pointer;
transition: .5s;
z-index: 1;
}
/*-----------------------------------------------------------*/

 
/*Efeito ao passar o mouse na barra de navegação*/
.miniatura:hover{
background: rgb(255, 0, 0);
}
/*-----------------------------------------------------------*/



/*Estilizzação dos slides*/   
.slides{
display: flex;
width: 500%;
height: 100%;
}
/*-----------------------------------------------------------*/


/*Configuração da trancisão*/
.slide{
width: 20%;
transition: .6s;
}
/*-----------------------------------------------------------*/


/*Chamada para as imagens*/    
#slide1:checked ~ .s1{
margin-left: 0%;
}
    
#slide2:checked ~ .s1{
margin-left: -20%;
}
    
#slide3:checked ~ .s1{
margin-left: -40%;
}
    
#slide4:checked ~ .s1{
margin-left: -60%;
}
    
#slide5:checked ~ .s1{
margin-left: -80%;
}


/*-----------------------------------------------------------*/

/*Rodape*/
.baseboard{
font-size: 2.5em;
font-family: Bebas Neue;
text-align: center;
color: rgb(255, 255, 255);
background-color: rgb(122, 5, 5);
width: 100%;
line-height: 1.2;
}
/*-----------------------------------------------------------*/


